<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.lease.web.admin.mapper.AttrValueMapper">

    <select id="selectListByRoomId" resultType="com.spring.lease.web.admin.vo.attr.AttrValueVo">
        select av.id,
               av.name,
               av.attr_key_id,
               ak.name attrKeyName
        from attr_value av
                 inner join attr_key ak on av.attr_key_id = ak.id
                 inner join room_attr_value rav on av.id = rav.attr_value_id
        where rav.room_id =#{roomid}
          and rav.is_deleted = 0
          and ak.is_deleted = 0
          and av.is_deleted = 0
    </select>
</mapper>
