<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.lease.web.admin.mapper.FacilityInfoMapper">
    <select id="selectListByApartmentId" resultType="com.spring.lease.model.entity.FacilityInfo">
        select fi.id,fi.type,fi.name,fi.icon
        from facility_info fi
                 inner join apartment_facility af
                            on fi.id = af.facility_id
        where af.apartment_id = #{apartmentId}
          and af.is_deleted = 0
          and fi.is_deleted = 0;
    </select>
    <select id="selectListByRoomId" resultType="com.spring.lease.model.entity.FacilityInfo">
        select fi.id,fi.type,fi.name,fi.icon
        from facility_info fi
                 inner join apartment_facility af
                            on fi.id = af.facility_id
        where af.apartment_id = #{roomId}
          and af.is_deleted = 0
          and fi.is_deleted = 0;
    </select>
</mapper>
