<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.lease.web.admin.mapper.FeeValueMapper">
    <select id="selectListByApartmentId" resultType="com.spring.lease.web.admin.vo.fee.FeeValueVo">
        select fv.id,fv.name,fv.unit,fv.fee_key_id,fk.name feeKeyName
        from fee_value fv
                 inner join fee_key fk
                            on fv.fee_key_id = fk.id
                 inner join apartment_fee_value afv
                            on fv.id = afv.fee_value_id
        where afv.apartment_id = #{id}
          and afv.is_deleted = 0
          and fk.is_deleted = 0
          and fv.is_deleted = 0;
    </select>
</mapper>
